bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
Flask==1.1.2
Flask-WTF==0.14.3
h5py==2.10.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
node==0.9.25
numpy==1.18.3
odict==1.7.0
packaging==20.3
pandas==1.0.3
parsel==1.5.2
Pillow==7.1.1
plotly==4.6.0
plumber==1.5
Protego==0.1.16
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
PyYAML==5.3.1
queuelib==1.5.0
requests==2.23.0
retrying==1.3.3
scipy==1.4.1
Scrapy==2.0.1
seaborn==0.10.0
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
tornado==6.0.4
Twisted==22.4.0
typing-extensions==3.7.4.2
urllib3==1.25.9
w3lib==1.21.0
Werkzeug==1.0.1
WTForms==2.2.1
gunicorn==20.0.4
