{% extends "layout.html" %}

{% block content %}
<!--would like to add a Transparent image and homepage info  -->

<section>
    <div class="container-fluid" style="padding: 20px 20px; align-content: center">
        <div class="videoContainer">
        <div class="overlay">
        <!-- <h1 style="font-size:50px; position:relative; top:200px; left:350px; color: rgb(146, 126, 126);"> Where is your next trip?</h1>
        <h2 style="font-size:30px; position:relative; top:200px; left:525px; color: rgb(146, 126, 126);"> Top European Hotels</h2> -->
        </div>     
            <video autoplay="" loop="" muted="" style="width:100%; height:100%">
                <!-- <p style="font-size:50px; position:absolute; top:200px; left:350px; color:#fff;"> Hello World!</p> -->
                <source src="static/images/trimvideo.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>


<!-- Subscribe option to get email data from individual -->
<section>

</section>

{% endblock %}
