{% extends "layout.html" %}

{% block content %}
<div class="container bg-light">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Team Hotel 2020</h2>
            <h3 class="section-subheading text-muted">Meet our team!!</h3>
        </div>
    </div>
</div>

    <div class="container">
        <div class = "row justify-content-md-center">
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                <img class="mx-auto rounded-circle" src="/static/images/lb.png" alt="Laury Benoit" width="200" height="200">
                                
                                <h4 class="card-title">Laury Benoit</h4>
                                <ul class="social-buttons">
                                    <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/laury-benoit/">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href="https://github.com/laurybenoit">
                                                <i class="fab fa-github"></i>
                                            </a>

                                    </li>
                                </ul>
                                </div>
                        </div>
                </div>

                <!-- Team -->
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                <img class="mx-auto rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbRiWEGZ9DVVYkiGM8uiBZBD9XeBvj9o66SlRpsm8otUckXiS30Q" alt="April Doster" width="200" height="200">
                                
                                <h4 class="card-title">April Doster</h4>
                                <ul class="social-buttons">
                                    <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/aprildoster/">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href=" https://github.com/MamaBearGH">
                                                <i class="fab fa-github"></i>
                                            </a>

                                    </li>
                                </ul>
                                </div>
                        </div>
                </div>
        </div>
        <div class = "row justify-content-md-center">
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                <img class="mx-auto rounded-circle" src="/static/images/JC.jpg" alt="Jason Caravella" width="200" height="200">
                                
                                <h4 class="card-title">Jason Caravella </h4>
                                <ul class="social-buttons">
                                    <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/jason-caravella-60213a13/">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href="https://github.com/caravella483">
                                                <i class="fab fa-github"></i>
                                            </a>
                                    </li>
                                </ul>
                                </div>
                        </div>
                </div>

                <!-- Team 2-->
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                <img class="mx-auto rounded-circle" src="/static/images/MO.png" alt="Maria Fe" width="200" height="200">
                                
                                <h4 class="card-title">Maria Fe Onyemuwa </h4>
                                <ul class="social-buttons">
                                    <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/maria-fe-onyemuwa-7ba38128/">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fab fa-github"></i>
                                            </a>

                                    </li>
                                </ul>
                                </div>
                        </div>
                </div>
        </div>

        <div class = "row justify-content-md-center">
            <div class="col-md-auto">
                    <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                            <div class="card-body">
                            <img class="mx-auto rounded-circle" src="/static/images/FR.png" alt="Franchesca Rivas" width="200" height="200">
                            
                            <h4 class="card-title">Franchesca Rivas </h4>
                            <ul class="social-buttons">
                                <li class="list-inline-item">
                                        <a href="https://www.linkedin.com/in/franchesca-rivas-183664196/">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-github"></i>
                                        </a>

                                </li>
                            </ul>
                            </div>
                    </div>
            </div>

            <div class = "row justify-content-md-center">
                <div class="col-md-auto">
                        <div class="card text-black bg-light mb-3" style="max-width: 30rem;">
                                <div class="card-body">
                                <img class="mx-auto rounded-circle" src="/static/images/TU.jpg" alt="Tammy Ura" width="200" height="200">
                                
                                <h4 class="card-title">Tammy Ura </h4>
                                <ul class="social-buttons">
                                    <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/tammyura/">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                            <a href="">
                                                <i class="fab fa-github"></i>
                                            </a>

                                    </li>
                                </ul>
                                </div>
                        </div>
                </div>


    </div>

{% endblock %}