.ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    color: white;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
    
  }

  body {
    background-image: url('ml2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    opacity: 1.0;
  }

  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
  }


  .text2{
    padding-left: 20px;
    color: white;
    font: 1em sans-serif;
  }

  .text{
    padding-left: 100px;
    color: white;
    font: 1em sans-serif;
  }

 
  .ml13 {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
    color: white;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }



  ul {
    list-style-image: url('little-star.PNG');
    
  }

  li, .font-size{
      font-size: 2em;
  }

  li{
      padding-bottom: 40px;
      padding-left: 20px;
  }
  